.container__about-us {
    width: 100%;
    background: var(--preto-nany);
    display: flex;
    flex-direction: column;
}

.about-us__foto {
    margin: 0 16px 16px 16px;
}

.article__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 24px;
}

.about-us__titulo {
    font-size: 22px;
    font-weight: 400;
    color: var(--branco-nany);
    margin-bottom: 24px;
}

.about-us__descricao {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 8px;
    color: var(--branco-nany);
}